body {
  text-align: center;
}
.plants-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  gap: 1rem;
}
.single-plant {
  width: 30rem;
  height: max-content;
  border-radius: 1rem;
  padding: 1rem;
  margin: 3rem 0 0;
  text-align: center;
  box-shadow: 0px 5px 10px grey;
}
.single-plant > .plant-image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
.copy-btn {
  border: none;
  background: transparent;
  font-size: 1rem;
  background: linear-gradient(85deg, rgba(137, 43, 226, 0.384), skyblue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
  font-weight: bold;
  border: 3px solid lightskyblue;
  text-transform: uppercase;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 5s ease-in;
}
.copy-btn:hover {
  background: linear-gradient(85deg, rgba(137, 43, 226, 0.384), skyblue);
  -webkit-text-fill-color: #fff;
  transition: all 5s ease-in;
}
.lat-long-input {
  opacity: 0;
}
h3 {
  text-transform: capitalize;
}
.link_googlearth {
  text-decoration: none;
  background-color: #000;
  padding: 0.2rem 0.5rem;
  color: #fff;
}

.link_googlearth:hover {
  text-decoration: none;
  color: green;
  cursor: pointer;
}
.medi_heading {
  text-transform: capitalize;
  font-size: 2rem;
}
.botanical_name,
.common_name,
.local_name,
.part_used,
.medicinal_uses,
.plant_description {
  text-transform: capitalize;
  font-size: large;
}
.botanical_name {
  font-size: 1.5rem;
}
.botanical_name > span {
  color: green;
}
.medicinal_uses > span {
  text-transform: lowercase;
}
.plant_description {
  font-weight: bold;
}
.plant_description > span {
  font-weight: lighter;
  text-transform: lowercase;
}
.plant_description > span > a {
  text-decoration: none;
  margin-left: 0.3rem;
}
.plant_description > span > a:hover {
  color: green;
}
