footer {
  position: fixed;
  display: grid;
  place-items: center;
  width: 100vw;
  bottom: 0;
  background: linear-gradient(85deg, rgb(137, 43, 226), skyblue);
  color: #fff;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.7rem;
  line-height: 1.5rem;
}
footer > p {
  font-size: 1rem;
}
footer > p > span:nth-child(2) {
  color: red;
}
footer > p > span > a {
  color: goldenrod;
  text-decoration: none;
  cursor: pointer;
}
footer > p > span > a:hover {
  color: green;
}
